@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&family=Rosarivo&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul{
    list-style-type: none;
    padding: 0;
}

h1{
    display: flex;
    justify-content: center;
    margin: 2rem;
    color: white;
    font-family: 'Cinzel', serif;
}

.producto-detalle h3{
    display: flex;
    justify-content: center;
    margin: 2rem;
    color: white;
    font-family: 'Cinzel', serif;
}

h2{
    display: flex;
    justify-content: center;
    margin: 2rem;
    color: white;
    font-family: 'Cinzel', serif;
}

.const-productos h3{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: white;
    font-family: 'Cinzel', serif;
}

div p{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: white;
    font-family: 'Cinzel', serif;
    margin: 20px;
}

.titulo-superior{
    display: flex;
    background-color: black;
    color: white;  
}

.titulo-superior img{
    display: flex;
    width: 10rem;
    height: 10rem;
}

body { 
    background-image: url(https://res.cloudinary.com/dyetlrz2w/image/upload/v1667306693/Birreria/vecteezy_black-brick-wall-texture-dark-stone-surface-background-for-design_3858165_mz6vsx.jpg;);
    background-size: contain;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 1fr;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    width: 15rem;
    background-color: grey;
    margin-left: 0;
}

.boton-menu{
    display: flex;
    background-color: black;
    opacity: 0.5;
    color: white;
    gap: 5rem;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.number{
    background-color: white;
    color: black;
    padding: 0 .5rem;
    border-radius: .5rem;
}



main{
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.cont-productos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}

.producto{
    margin: 0 auto;
}

.producto-detalle{
    padding: .5rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.producto-titulo {
    font-size: 2rem;
    margin: 2rem;
}

.producto-agregar {
    border: 0;
    background-color: grey;
    color: white;
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid;
    margin-bottom: 2rem;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;    
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 1rem;
    border-radius: 1rem;
    padding-right: 1rem;
}

.carrito-producto-img {
    width: 5rem;
    border-radius: 1rem;
}


.carrito-producto-eliminar {
    margin: 1rem;
    background-color: transparent;
    border: 0;
    color: darkred;
    width: 3rem;
    height: 3rem;

}

.carrito-producto h3{ 
    margin: 1.5rem;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: medium;
}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-action {
    display: flex;
    justify-content: space-between;
}

.carrito-action-vaciar {
    border: 0;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    color: white;

}

.carrito-aside{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    width: 15rem;
    background-color: grey;
    margin-left: 0;
}

.carrito-aside ul{
    padding-right: 1rem;
}

.boton-menu-carrito {
    display: flex;
    background-color: black;
    opacity: 0.5;
    color: white;
    gap: 5rem;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: medium;
    color: white;
    display: flex;
    justify-content: center;
}

.carrito-action-der{
    display: flex;
}

.carrito-action-total{
    display: flex;
    background-color: grey;
    border-radius: 1rem;

}

.carrito-action-comprar{
    background-color: white;
    border-radius: .5rem;
    border: 0;
    width: 10rem;
}

.carrito-action-vaciar{
    background-color: white;
    border-radius: .5rem;
    border: 0;
    width: 10rem;
    color: black;
}

.carrito-completado, .carrito-vacio{
    display: none;
}

.desactivado{
    display: none;
}
